fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
geoalchemy2==0.15.2
psycopg2-binary==2.9.9
shapely==2.0.3
python-dotenv==1.0.1
pydantic==2.9.2
neomodel==5.2.1
neo4j==5.15.0
sqids==0.4.1
annotated-types==0.7.0
